$white: #fff;
$input-bg-color: rgba(26, 26, 26, 0.15);
$button-bg-color: rgba(255, 255, 255, 0.05);
$button-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
$button-filter: blur(4px);
$button-border: 1px solid rgba(255, 255, 255, 0.08);
$input-filter: blur(1.5px);
$input-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.05) inset;
$input-border: 1px solid rgba(255, 255, 255, 0.06);