.padding-10-16 {
    padding: $space-10px $space-4;
}

.padding-12-16 {
    padding: $space-3 $space-4;
}

.padding-14-20 {
    padding: $space-3-half $space-5;
}

.padding-16-20 {
    padding: $space-4 $space-5;
}

.padding-20 {
    padding: $space-5;
}

.pointer {
    cursor: pointer;
}

.hovered-image {
    img {
        transform: scale(1.05);
    }
}

.bg-color-wrapper {
    --l-c-1: #15002f;
    --l-c-2: #15002f;
    --s-c-1: #6a00ff;
    --s-c-2: #ea008c;
    position: relative;
    transition: background-color 1.5s ease;
    background-color: var(--l-c-1);

    &::after,
    &::before {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        inset: 0;
    }

    &::before {
        content: "";
        transition: opacity 1.5s ease;
        z-index: 0;
        background: linear-gradient(180deg, transparent 0%, transparent 90%, $bg-100 100%);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(180deg, $bg-100 3%, rgba(0, 0, 0, 0.00) 8%, transparent 100%);
        z-index: 2;
        width: 100%;
        transition: opacity 1.5s ease;
    }

    .sp-c__bg {
        z-index: 0;

        linearGradient {
            stop {
                transition: stop-color 1s ease;

                &:first-of-type {
                    stop-color: var(--s-c-1);
                }

                &:last-of-type {
                    stop-color: var(--s-c-2);
                }
            }
        }
    }

    &.bg-100 {
        --l-c-1: #15002f;
        --s-c-1: #6a00ff;
        --s-c-2: #ea008c;

        &::after {
            opacity: 0.9;
        }
    }

    &.bg-200 {
        --l-c-1: #080a20;
        --s-c-1: #0036b8;
        --s-c-2: #ff7849;
    }

    &.bg-300 {
        --l-c-1: #060906;
        --s-c-1: #00b0a7;
        --s-c-2: #ff7a00;
    }

    &.bg-400 {
        --l-c-1: #010c1a;
        --s-c-1: #145b67;
        --s-c-2: #1556bf;
    }

    &.bg-500 {
        --l-c-1: #080022;
        --l-c-2: #080022;
        --s-c-1: #0c5ba2;
        --s-c-2: #612af0;

        &::before {
            opacity: 1;
        }
    }
}

.top-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}