
.button {
    opacity: 0.7;
}

.button__text {
    color: $neutral-100;
    @include base(400);
}

.button:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

@media screen and (width <= 768px) {
    .button {
        .button__text {
            @include heading(28px);
            line-height: 32px;
        }
    }
}