.button {
    display: grid;
    align-items: center;
    transition: all $transition !important;
    user-select: none;

    cursor: pointer;

    &.activeScale:active {
        transform: scale(0.98);
    }
}

.ghost {
    background-color: transparent;
    color: inherit;
}

.subscribe {
    border-radius: 100px;
    border: $button-border;
    background: $button-bg-color;
    box-shadow: $button-shadow;
    -webkit-backdrop-filter: $button-filter;
    backdrop-filter: $button-filter;

    &:hover {
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.15);
    }

    &:active {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.30);
    }
}

.size-20-28 {
    padding: $space-5 $space-7;
}