.header {
  position: fixed;
  top: $space-5;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.01);
}

.headerLegal {
  padding-top: $space-5;
  padding-bottom: $space-5;
}

.media {
  display: none;
  pointer-events: none;

  @media screen and (width <= 1024px) {
    display: flex;
    pointer-events: all;
  }
}

.noDisplay {
  display: none;
}
