.container {
    gap: $space-7;

    justify-content: space-between;
    height: 100%;
}

.more {
    gap: $space-8;
    justify-content: initial;
    height: initial;
}

.text {
    gap: $space-3;
    align-items: flex-start;

    p {
        white-space: pre-wrap;
        opacity: 0.8;
    }
}

@media screen and (height <=820px) {
    .container {
        gap: $space-3;
    }
}