.container {
    position: relative;

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 0;
    }

    .text {
        position: relative;
        z-index: 1;
    }
}

.bg_main {
    display: block;
}
.bg_media {
    display: none;
}

@media screen and (width <= 768px) {
    .bg_main {
        display: none;
    }
    .bg_media {
        display: block;
    }
}