.item__wrapper {
    overflow: visible;
    cursor: pointer;
}

.item {
    will-change: transform;
    pointer-events: none;
    border-radius: $space-6;
    overflow: hidden;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: translateY(100%);
    opacity: 0;
}

.past {
    transform: translateY(-100%);
    opacity: 0;
}

.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

@media screen and (width <=1280px),
screen and (height <=700px) {
    .item {
        border-radius: $space-4;
    }
}