.section {
    p,
    tr,
    span,
    li {
        opacity: 0.8;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: $space-1;
}

.paragraph {
    margin-bottom: $space-3;
}

.heading {
    margin-bottom: $space-3;
}