.container {
    gap: $space-12;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.heading {
    align-items: center;
    gap: $space-7;

    h1,
    p {
        opacity: 0.8;
    }

    h1 {
        font-size: 20px;
        line-height: 1.25;
        // до слогана — 8px вместо общего gap
        margin-bottom: $space-2 - $space-7;
    }
}

@media screen and (width <=768px) {
    .container {
        gap: $space-4;
    }

    .heading {
        gap: $space-5;

        h1 {
            margin-bottom: $space-2 - $space-5;
        }

        div {
            line-height: 100% !important;
        }

        h1,
        p {
            letter-spacing: -0.32px;
        }
    }
}

@media screen and (width <=480px) {
    .heading {
        p {
            max-width: 247px;
        }
    }
}