.container {
    gap: $space-6;
    max-width: 1152px;
    width: 100%;
}

.cards {
    gap: $space-6;
}

@media screen and (width <= 768px) {
    .container {
        flex-direction: column !important;
    }

    .cards {
        display: none;
        pointer-events: none;
    }
}