.container {
  border-radius: $space-6;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: $blur-10;
  width: 100%;
  justify-content: center;
  gap: $space-8;
  padding: $space-8 $space-8 $space-11;
}

.link,
.line {
  transition: opacity $transition;
}

.link {
  opacity: 0.8;

  .arrow {
    opacity: 0.3;
    rotate: 180deg;
    translate: -50% 0;

    transition: translate $transition;
  }

  .line {
    opacity: 0.3;
    background: #d9d9d9;
    height: 2px;
    width: 100%;
  }

  &:hover {
    opacity: 1;

    .line {
      opacity: 0.5;
    }
    .arrow {
      translate: 0 0;
      opacity: 1;
    }
  }
}

@media screen and (width <= 768px) {
  .container {
    gap: $space-5;
    padding: $space-4 $space-3;
  }

  .arrow {
    translate: 0 0;
  }
}
