.container {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;

  border-radius: $space-1;
  border: 1px solid rgba($color: $neutral-100, $alpha: 0.4);
  background-color: rgba($color: $neutral-100, $alpha: 0.2);
  box-shadow: $shadow-100;

  &::after {
    position: absolute;
    z-index: 0;
    inset: 0;
  }
}

.icon {
  position: absolute;

  path {
    stroke: $neutral-100 !important;
  }
}

.error {
  border: 1px solid $colors-101 !important;
}
